.container {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 20%;
  background-color: #dce9ff;
  padding: 3%;
  max-width: 600px;
}

header {
  border: 2px solid black;
  border-radius: 5px;
  background-color: #ffffff;
  margin-bottom: 30px;
  position: fixed;
}

h1 {
  padding-left: 20px;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

.list-item-header {
  border: 1px solid #0d47a1;
  padding: .5em;
  border-radius: 5px;
  background-color: #a9c9ff;
}

.list-item {
  border: 1px solid black;
  border-radius: 6px;
  background-color: #ffffff;
}
.left {
  float: left;
}

.right {
  float: right;
}

.details {
  padding: 10px 25px;
}
.icon {
  padding: 0px 5px;
}

@media only screen and (max-device-width: 768px) {

  .container {
    margin: 0%;
    margin-left: -2%;
    min-width: 95%;
    padding: 0%;
    background-color: white;
  }

  .body {
    background-color: #e3f2fd !important;
  }

  header {
    position: fixed;
    top: -1%;
    height: 10%;
    left: -1%;
    z-index: 2;
    background-color: white;
    width: 100%;
  }
  
  h1 {
    padding-left: 10%;
    padding-top: 5%;
    font-size: 4em;
  }

  .directory {
    border: 1px solid black !important;
    margin-top: 20%;
    margin-left: 5%;
    width: 100%;
    font-size: 1.5em !important;
  }

  .name {
    padding: 0px 5px;
  }
}


@media only screen and (max-device-width: 450px) {

  .directory {
    border: 1px solid black !important;
    margin-top: 20%;
    margin-left: 5%;
    width: 100%;
    font-size: 2em !important;
  }


}