.container {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 20%;
}

header {
  border: 1px solid black;
}

h1 {
  color: red;
}

.list-item-header {
  border: 3px solid black;
}

.list-item {
  border: 1px solid black;
}



@media only screen and (max-device-width: 768px) {

  .container {
    margin-top: 0%;
    margin-left: 0%;
  }

  header {
    position: fixed;
    top: -1%;
    height: 10%;
    left: 5%;
    z-index: 2;
    background-color: white;
    width: 100%;
  }
  
  h1 {

    font-size: 4em;
  }

  .directory {
    position: relative;
    border: 1px solid black !important;

    margin-left: 5%;
  }
}